<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.ultraq.net.nz/web/thymeleaf/layout ">
<head>


    <title layout:title-pattern="TwojaFurka - $CONTENT_TITLE">TwojaFurka</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/styles/layout.css}" rel="stylesheet"/>
</head>
<body>
<span class="blank-background login"> Zalogowany użytkownik:
            <a th:if="${#request.remoteUser}!=null" th:href="|/userinfo/?username=${#request.remoteUser}|">[[${#request.remoteUser}]]</a>
            <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
            <a sec:authorize="!isAuthenticated()" href="/registration">Zarejestruj</a>
            <a sec:authorize="isAuthenticated()" href="/logout">Wyloguj</a>
        </span>
<div class="topnav">
    <a class="active big-font" href="/">TwojaFurka <small>Najlepsze furki w necie</small></a>
    <a class="big-font" href="/offers">Przeglądaj ogłoszenia</a>
    <a class="big-font" href="/offers/new">Dodaj ogłoszenie</a>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/BlondeWomanDrivingCar.svg" class="layoutImg" alt="logo"/>
</div>
<div class="centerBox-row">
    <div class="card hover14">
        <img class="cropped"
             src="https://audimediacenter-a.akamaihd.net/system/production/media/87623/images/ab698ab934ad7ee485d260ff1d2569be289629dc/A1915496_x500.jpg?1582587184"
             alt="audi_img">
        <div class="container blank-background-all border-black">
            <h4><b>Audi</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://d-mf.ppstatic.pl/art/c5/w4/1um097488w0w4w0cow48c/opel-astra-5-door-297477.1200.jpg"
             alt="opel_img">
        <div class="container blank-background-all border-black">
            <h4><b>Opel</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://www.auto-data.net/images/f51/Mercedes-Benz-E-class-Coupe-C238-facelift-2020.jpg"
             alt="mercedes_img">
        <div class="container blank-background-all border-black">
            <h4><b>Mercedes</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://audimediacenter-a.akamaihd.net/system/production/media/87623/images/ab698ab934ad7ee485d260ff1d2569be289629dc/A1915496_x500.jpg?1582587184"
             alt="audi_img">
        <div class="container blank-background-all border-black">
            <h4><b>Audi</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://d-mf.ppstatic.pl/art/c5/w4/1um097488w0w4w0cow48c/opel-astra-5-door-297477.1200.jpg"
             alt="opel_img">
        <div class="container blank-background-all border-black">
            <h4><b>Opel</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://www.auto-data.net/images/f51/Mercedes-Benz-E-class-Coupe-C238-facelift-2020.jpg"
             alt="mercedes_img">
        <div class="container blank-background-all border-black">
            <h4><b>Mercedes</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://audimediacenter-a.akamaihd.net/system/production/media/87623/images/ab698ab934ad7ee485d260ff1d2569be289629dc/A1915496_x500.jpg?1582587184"
             alt="audi_img">
        <div class="container blank-background-all border-black">
            <h4><b>Audi</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://d-mf.ppstatic.pl/art/c5/w4/1um097488w0w4w0cow48c/opel-astra-5-door-297477.1200.jpg"
             alt="opel_img">
        <div class="container blank-background-all border-black">
            <h4><b>Opel</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://www.auto-data.net/images/f51/Mercedes-Benz-E-class-Coupe-C238-facelift-2020.jpg"
             alt="mercedes_img">
        <div class="container blank-background-all border-black">
            <h4><b>Mercedes</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://audimediacenter-a.akamaihd.net/system/production/media/87623/images/ab698ab934ad7ee485d260ff1d2569be289629dc/A1915496_x500.jpg?1582587184"
             alt="audi_img">
        <div class="container blank-background-all border-black">
            <h4><b>Audi</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://d-mf.ppstatic.pl/art/c5/w4/1um097488w0w4w0cow48c/opel-astra-5-door-297477.1200.jpg"
             alt="opel_img">
        <div class="container blank-background-all border-black">
            <h4><b>Opel</b></h4>
        </div>
    </div>
    <div class="card hover14">
        <img class="cropped"
             src="https://www.auto-data.net/images/f51/Mercedes-Benz-E-class-Coupe-C238-facelift-2020.jpg"
             alt="mercedes_img">
        <div class="container blank-background-all border-black">
            <h4><b>Mercedes</b></h4>
        </div>
    </div>
</div>
</body>
</html>