<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.ultraq.net.nz/web/thymeleaf/layout ">
<head>


    <title layout:title-pattern="TwojaFurka - $CONTENT_TITLE">TwojaFurka</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="container">

    <div class="page-header">
     <span style="alignment: left">Zalogowany użytkownik: <span>[[${#request.remoteUser}]]</span></span>
        <div sec:authorize="isAuthenticated()"><span style="alignment: right"><a href="/logout">Wyloguj</a></span></div>

        <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/BlondeWomanDrivingCar.svg" style="float: right"
             height="86pt"/>

        <h1>TwojaFurka <small>Najlepsze furki w necie</small></h1>
        <h4>
            <a href="/offers">Przeglądaj ogłoszenia</a> | <a href="/newoffer">Dodaj ogłoszenie</a>
        </h4>
    </div>

</div>
</body>
</html>