<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css">

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <form method="get" action="/">
                <button type="submit">Wróć do strony głównej</button>
            </form>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container" align="center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1> Logowanie: </h1>
            <form th:action="@{/login}" method="post">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Zła nazwa użytkownika lub hasło.</div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">Zalogowano!.</div>
                </div>

                <div class="form-group" style="display: inline-block">
                    <div class="container">
                        <label for="username" style="alignment: left"> Username: </label>
                    </div>
                    <div class="container">
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Enter Email ID" autofocus="autofocus" style="alignment: right">
                    </div>


                <div class="form-group" style="display: inline-block">
                    <div class="container">
                        <label for="password" style="alignment: left">Password:</label>
                    </div>
                    <div class="container">
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Enter Password" style="alignment: right"/>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Zaloguj"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <span>Nie masz konta? <a href="/" th:href="@{/registration}">Zarejestruj się</a></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>