<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title th:text="${offer.title}">Szczegóły oferty</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/styles/layout.css}" rel="stylesheet"/>
</head>
<body>
<span class="blank-background login">Zalogowany użytkownik:
            <a th:if="${#request.remoteUser}!=null" th:href="|/userinfo/?username=${#request.remoteUser}|">[[${#request.remoteUser}]]</a>
            <a sec:authorize="!isAuthenticated()" href="/login">Zaloguj</a>
            <a sec:authorize="!isAuthenticated()" href="/registration">Zarejestruj</a>
            <a sec:authorize="isAuthenticated()" href="/logout">Wyloguj</a>
        </span>
<div class="topnav">
    <a class="active big-font" href="/">TwojaFurka <small>Najlepsze furki w necie</small></a>
    <a class="big-font" href="/offers">Przeglądaj ogłoszenia</a>
    <a class="big-font" href="/newoffer">Dodaj ogłoszenie</a>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/BlondeWomanDrivingCar.svg" class="layoutImg" alt="logo"/>
</div>

<section class="section offer-content border-black marginTop20" layout:fragment="content">
    <div id="details">
        <h1 th:text="${offer.title}"></h1>
        <h2>
            Cena:
            <span class="text-primary" th:text="${offer.price}"></span>
        </h2>
        <div id="flexOffer">
            <table th:object="${offer}" id="flexOfferSide">
                <tr>
                    <th>Marka:</th>
                    <td th:text="*{model.manufacturer.name}"></td>
                    <th>Nadwozie:</th>
                    <td th:text="|*{bodyStyle.name} *{doors}D|"></td>
                </tr>
                <tr>
                    <th>Model:</th>
                    <td th:text="*{model.name}"></td>
                    <th>Kolor:</th>
                    <td th:text="*{colour}"></td>
                </tr>
                <tr>
                    <th>Rok:</th>
                    <td th:text="*{year}"></td>
                    <th>Przebieg:</th>
                    <td th:text="*{mileage}"></td>
                </tr>
                <tr>
                    <th>Pojemnosc silnika:</th>
                    <td th:text="*{engineSize}"></td>
                    <th>Moc:</th>
                    <td th:text="*{enginePower}"></td>
                </tr>
                <tr>
                    <th>Paliwo:</th>
                    <td th:text="*{fuelType.name}"></td>

                </tr>
            </table>
            <img id="imageCar" th:src="${offer.imageURL}" alt="zdjecie auta z ogłoszenia">
        </div>
        <div id="descriptionOffer" th:text="${offer.description}" class="well">
        </div>
        <br>
        <div th:object="${user}">  Ogłoszenie użytkownika:  <a th:href="|/userinfo/${user.id}|" th:text="${offer.user.username}"></a></div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="|/deleteoffer/${offer.id}|" class="btn btn-danger">Usuń ogłoszenie</a>
            <a th:href="|/editoffer/${offer.id}|" class="btn btn-primary">Edytuj ogłoszenie</a>
        </div>
    </div>

</section>
</body>
</html>