<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Lista ofert</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
<section layout:fragment="content">
    <table class="table">
        <tr>
            <th>Tytuł</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rocznik</th>
            <th>Cena</th>
            <th>  </th>
        </tr>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.title}"></td>
            <td th:text="${offer.model.manufacturer.name}"></td>
            <td th:text="${offer.model.name}"></td>
            <td th:text="${offer.year}"></td>
            <td class="text-right">
                <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')}"></span>
                zł
            </td>
            <td><a th:href="|/offer/${offer.id}|">Pokaż</a></td>
        </tr>
    </table>
</section>
</body>
</html>