<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<span style="alignment: left">Zalogowany użytkownik: <span>[[${#request.remoteUser}]]</span></span>
<div sec:authorize="isAuthenticated()"><span style="alignment: right"><a href="/logout">Wyloguj</a></span></div>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <form method="get" action="/">
                <button type="submit">Wróć do strony głównej</button>
            </form>
        </div>
    </div>
</nav>
<section layout:fragment="content">

    <div th:object="${user}" style="margin-left: auto;margin-right: auto; line-height:25%">
        <p style="font-weight: bold">Nazwa użytkownika:</p>
        <p th:text="*{username}"></p>
        <br>
        <p style="font-weight: bold">Imie:</p>
        <p th:text="*{firstname}"></p>
        <br>
        <p style="font-weight: bold">Nazwisko:</p>
        <p th:text="*{lastname}"></p>
        <br>
        <p style="font-weight: bold">Email:</p>
        <p th:text="*{email}"></p>
        <br>
        <p style="font-weight: bold">Numer telefonu:</p>
        <p th:text="*{phone}"></p>
    </div>
</section>
</body>
</html>